.blog_area .blog-info-link a:hover,
.blog_area .blog-info-link a :hover {
  background: -webkit-linear-gradient(131deg, #e87722 0%, #e87722 99%);
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #fff;
  text-decoration: none;
  transition: .4s;
}

.not_found img {
    width: 30%;
}

.media.post_item {
  cursor: pointer;
}

.services-details.recent-area .single-recent-cap .recent-img img {
  height: 300px;
  object-fit: contain;
}

.services-details.recent-area .single-recent-cap .recent-img {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}

.product_details .card-img {
  height: 300px;
  object-fit: contain;
}

.product_details .blog_left_sidebar {
  box-shadow: 0px 10px 20px 0px rgb(221 221 221 / 30%);
}

.products .single-recent-cap {
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}

.products .single-recent-cap:hover {
  background: #f8fafe;
  cursor: pointer;
}

.products .single-recent-cap::before {
  background-image: url(../img/service/services_bg.png);
  content: "";
  position: absolute;
  min-width: 221px;
  height: 216px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  -webkit-transition: all .4s ease-out 0s;
  -moz-transition: all .4s ease-out 0s;
  -ms-transition: all .4s ease-out 0s;
  -o-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
